{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title>Caramel</title>
      
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        
        <link href = "https://code.jquery.com/ui/1.12.1/themes/dot-luv/jquery-ui.css"
        rel = "stylesheet">

        <!-- Custom style -->
        <link href="{%static 'loginRegister/css/stylesheet_org.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
              }
            $(function() {
               var availableTutorials = [
               'Core UI','Advanced UI','React.js','Vue.js','AngularJS','Asp.net','GoLang','Coure UI Stack','Node.js','Java','Python','Core Java','Advance Java','.Net','.Net Core','MEAN Stack','MESN Stack','MEVN Stack','Ruby'	
               ];
               $( "#automplete-3" ).autocomplete({
                  minLength:1,   
                  delay:500,   
                  source: availableTutorials
               });
            });

            
         </script>
      
        </head>
    
        <div id="mySidebar" class="sidebar">
            <label href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</label>
            <img class="logo2" src="images/caramelacademy.png" width="200px" height="70px">
            <a href="#"  class="userimg img logo rounded-circle mb-5" style="background-image: url(images/student.jpg);"></a>
            <a href="#" class="active"><i class="fa fa-book" aria-hidden="true" style="color: aliceblue;"></i>
                Dashboard</a>
            <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true" style="color: aliceblue"></i>
                Our Courses</a>
            <a href="#"><i class="fa fa-cogs" aria-hidden="true" style="color: aliceblue"></i>
                Student</a>
            <a href="#"><i class="fa fa-line-chart" aria-hidden="true" style="color: aliceblue"></i>Notify Student</a>
            <a href="#"><i class="fa fa-sign-out" aria-hidden="true" style="color: aliceblue"></i>Account </a>
          </div>
          
          <body>
          <div class="acaheader" id="topheader">
            <div class="container-fluid text5">
                <nav class="navbar navbar-expand-lg bg navbar-light">
                    <button class="navbar-toggler" onclick="openNav()" type="button">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <label class="dash">Dashboard <i class="fa fa-home" aria-hidden="true" style="color: black"></i></label>
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <!-- Navbar links -->
                    <div class="navbar-collapse collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav mr-auto">
                            
                        </ul>
                        <ul class="navbar-nav ml-auto font-weight-bold">
                            <li class="nav-item">
                                <form autocomplete="off" action="#">
                                    <span class="search-input">
                                    <div class="autocomplete searchbar">
                                        <input id = "automplete-3" placeholder="Search">
                                        <a><i class="fa fa-search" type="submit" for="autocomplete-3" style="font-size:25px;background-color:white;" aria-hidden="true"></i></a>
                                    </div>
                                </form>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <section class="courses">
            <main role="main" class="container">
                <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm tag">
                  <img class="mr-3" src="/docs/4.5/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
                  <div class="lh-100">
                    <h6 class="mb-0 text-white lh-100">Courses</h6>
                    <small>Caramel IT 2020</small>
                  </div>
                </div>
              
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                  <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">Running</strong>
                    </p>
                  </div>
                  <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">Running</strong>
                    </p>
                  </div>
                  <div class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                      <strong class="d-block text-gray-dark">Running</strong>
                    </p>
                  </div>
                  <small class="d-block text-right mt-3">
                    <a href="#">View All</a>
                  </small>
                </div>
              
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                  <h6 class="border-bottom border-gray pb-2 mb-0">Analytics</h6>
                  <div id="chartContainer" style="height: 300px; width: 100%;"></div>

<script>
                    window.onload = function() {
                    
                    var dataPoints = [];
                    
                    var options = {
                        theme: "light2",
                        title: {
                            text: "Live Data"
                        },
                        data: [{
                            type: "line",
                            dataPoints: dataPoints
                        }]
                    };
                    $("#chartContainer").CanvasJSChart(options);
                    updateData();
                    
                    // Initial Values
                    var xValue = 0;
                    var yValue = 10;
                    var newDataCount = 6;
                    
                    function addData(data) {
                        if(newDataCount != 1) {
                            $.each(data, function(key, value) {
                                dataPoints.push({x: value[0], y: parseInt(value[1])});
                                xValue++;
                                yValue = parseInt(value[1]);
                            });
                        } else {
                            //dataPoints.shift();
                            dataPoints.push({x: data[0][0], y: parseInt(data[0][1])});
                            xValue++;
                            yValue = parseInt(data[0][1]);
                        }
                      
                        newDataCount = 1;
                      
                        $("#chartContainer").CanvasJSChart().render()
                        setTimeout(updateData, 1500);	
                    }
                    
                    function updateData() {
                        $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart="+xValue+"&ystart="+yValue+"&length="+newDataCount+"&type=json", addData);
                    }
                    
                    }
                    </script>
                  <small class="d-block text-right mt-3">
                    <a href="#">View All</a>
                  </small>
                </div>
              </main>
        </section>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    </body>
</html>
