
{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>FrontEnd</title>
  <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
   <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpg" href="../../static/images/Caramel-full-Logo1.jpg" style="border-radius: 40px 0px 0px 40px;">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%CPT+Serif:400,700,400italic' rel='stylesheet'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	 <!-- <link rel="stylesheet" type="text/css" href="css/ourprogram1.css"> -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	  <!--<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
.h-100{
  border-radius: 20px;
  border-color: #292C7D;
  border-style: double;
}
.card-img-top{
  border-radius: 20px 20px 0 0;
}
</style>


</head>
<body>
  <div data-aos="zoom-in"data-aos-delay="2000" data-aos-offset="100">
    <div class="container-fluid courses5">
      <section class="top-header" id="tophead">
        <div class="container-fluid" id="coursenav">
        <nav class="navbar navbar-expand-md navbar-light  naving1" >
        <div class="container-fluid">
        <a class="navbar-brand" href="../../../staticHome/templates/staticHome/academy.html">
          <img class="logo1 horizontal-logo" src="../../static/images/caramelacademy.jpeg" width="200px" alt="forecastr logo">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item naving-item">
            <a class="nav-link px-lg-4 font-weight-bold alink" href="/">IT Services Home</a>
          </li>
          <li class="nav-item dropdown dropdowns naving-item">
            <div class="dropdown">
              <button class="btn blue-col btn-default dropdown-toggle" type="button" data-toggle="dropdown">  <a class="blue-col">
                Categories
                  </a>
                </button>
              <ul class="dropdown-menu  neededdrop">

                <li class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="#">PROGRAMS   <span class="caret"></span></a>
                  <ul id="dmenu1" class="dropdown-menu">
                    <li class="second-drop"><a tabindex="-1" href="../program.html">Software Development</a></li>


                  </ul>
                </li>

                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/backend.html">Backend<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/cloud.html">Cloud<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/cyber.html">Cyber<span class="caret"></span></a>


                </li>
                                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/datascience.html">Datascience<span class="caret"></span></a>


                </li>
                                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/devops.html">Devops<span class="caret"></span></a>


                </li>
                                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/digital.html">Digital<span class="caret"></span></a>


                </li>
                                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/erp.html">Erp<span class="caret"></span></a>


                </li>
                                  <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/fullstack.html">Fullstack<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/functionaltesting.html">Functionaltesting<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/it.html">IT<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/itcertification.html">It certification<span class="caret"></span></a>


                </li>
                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/mobility.html">Mobility<span class="caret"></span></a>


                </li>
                             <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="../courses/uicourses.html">UI Courses<span class="caret"></span></a>


                </li>

                <li   class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="#">ALL COURSES <span class="caret"></span></a>
                  <ul id="dmenu3" class="dropdown-menu">
                    <li class="second-drop"><a tabindex="-1" href="#">Courses</a></li>
                   
                   
                  </ul>
                </li>
              </ul>

              
            </div>
          
            
         
  
          </li>
          
          
          <li class="nav-item naving-item">
            <a class="nav-link alink px-lg-4 font-weight-bold" href="/contact/academycontact">Contact Us</a>
          </li>
          </ul>
        </div>
        </div>
       </nav>
       </div>
      </section>
      <h1 class="sub-head">SUB PROGRAMS</h1>
 
    
     <!---section1-->
     <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 ccontent">
            <h3 style="margin: 10px;">FrontEnd</h3>
            <p style="margin: 10px;">
              User Interface(UI) developers combine programming, 
              psychology and creative design to craft intuitive controls for software and hardware.
              Examples of this broad concept of user interfaces include the interactive aspects of 
              computer operating systems, hand tools, heavy machinery operator controls, and process controls.
            </p>
        </div>
        <div class="col-lg-5 cimage">
            <img src="../../static/images/headimg.jpg" style="height:76%; margin: 8px; border-radius: 16px;">
        </div>
       </div>
       <div class="container-fluid"><h1 class="lasthead">Courses Listing:</h1>
        <div class="row"id="cards1">
          <div class="coursefirst">
            <div class="card h-100">
            <div class="coursesecond">
              <a href="coursepage/coreui"><img id="coursesimg" src="../../static/images/core ui.jpeg" class="card-img-top"></a>
            </div>
            <div class="coursethird">
              <div class="card-body">
              <div class="card-title"><h4><center><strong>FrontEnd</strong></center></h4></div>
              </div>
            </div>
          </div>
        </div>

          <div class="coursefirst">
            <div class="coursesecond">
              <div class="card h-100">
              <a href="coursepage/advancedui"><img id="coursesimg" class="card-img-top" src="../../static/images/advancedui.jpg" ></a>
            <div class="coursethird">
              <div class="card-body">
              <div class="card-title"><h4><center><strong>Advanced UI</strong></center></h4></div>
              </div>
              </div>
              </div>
            </div>
          </div>
          <div class="coursefirst">
            <div class="coursesecond">
              <div class="card h-100">
              <a href="coursepage/angularjs"><img id="coursesimg" class="card-img-top" src="../../static/images/angular.png" ></a>
            <div class="coursethird">
              <div class="card-body">
                <div class="card-title"><h4><center><strong>Angular JS</strong></center></h4></div>
            </div>
            </div>
            </div>
          </div>
        </div>
          <div class="coursefirst">
            <div class="coursesecond">
              <div class="card h-100">
              <a href="coursepage/reactjs"><img id="coursesimg" class="card-img-top" src="../../static/images/react2.jpg" ></a>
            <div class="card-body">
            <div class="coursethird">
              <div class="card-title"><h4><center><strong>React JS</strong></center></h4></div>
            </div>
            </div>
            </div>
            </div>
          </div>
          <div class="coursefirst">
            <div class="card h-100">
            <div class="coursesecond">
              <a href="coursepage/vuejs"><img id="coursesimg" class="card-img-top" src="../../static/images/vue.js1.jpeg" ></a>
            <div class="coursethird">
              <div class="card-body">
              <div class="card-title"><h4><center><strong>Vue JS</strong></center></h4></div>
            </div>
            </div>
          </div>
          </div>
          </div>
          <!-- start -->
        </div>
   
       </div>
     </div>
 </div>

  

<!---footer section start--->

<!---------------------FOOTER STARTS--------------------->
<section class="footer-section bg-lightgrey" id="foot-sec">
	<div class="contai">
		<div class="footer text-center">
			<div>
				<div class="row justify-content-md-center">
					<div class="col-12">
						<p class="mb-0" id="socialmedia1" style="overflow-y: hidden;padding-top: 40px;">
							<a href="https://www.facebook.com/caramelacademy/" class="p-2"><span class="fa fa-facebook-square" style="font-size:36px;color: #292C7D;"></span></a>
							<a href="https://twitter.com/caramelacademy" class="p-2"><span class="fa fa-twitter-square" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://www.instagram.com/caramelitacademy/" class="p-2"><span class="fa fa-instagram" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://www.linkedin.com/company/37846486/admin/" class="p-2"><span class="fa fa-linkedin-square" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://in.pinterest.com/caramelacademy/" class="p-2"><span class="fa fa-pinterest-square" style="font-size:36px;color: #292C7D"></span></a>
              <a href="https://api.whatsapp.com/send?phone=+918886660462&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="p-2"><span class="fa fa-whatsapp" style="font-size:36px;color: #292C7D"></span></a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="mb-0" id="foter" style="font-size: 18px;">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved By Caramel IT Services Pvt. Ltd.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div> 
 </div>
</section>
<!-- <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a> -->
<!-------------------FOOTER END-------------------------->

</div>

<!-- <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>