
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	/*Navbar and bread crumbs*/  
	#body-content {overflow: hidden;}
	.topic-list {
		box-shadow: beige;
		border-color: rgb(21, 20, 114);
		border-width: 2px;
		border-style: double;
		margin: 20px 0px 0px 0px;
		border-radius: 6px;
		margin-left: 1rem;
	}

	.topic-list:hover{
		box-shadow: 0 0 11px rgba(33,33,33,.2);
		background-color: white;
	}
	.topic-list p{
		color: rgb(21, 20, 114);
	}
	.video{
		width: 80%;
	}
	.pg_btn{
	color: #2b299b;
	}
	@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
	}
.arrow-list{
    width:100%}

	/*video*/
	.vid{
	align-content: center;
	position: absolute;
	margin: 40px 20px 0px 100px; 
	width: 85%;
	height: 75%; 
	}
	<!--/*Skill button*/
	.btn-Info{
		margin:10px;
		border:40px;
		border-radius: 10px 10px 10px 10px;
		background-color:#171568;
		color:#ECFCFD;
	}
	/*checkbox*/
	-->
	.ui_list{
		margin: 20px 20px 20px 20px;
    }
    .arrow-list{
        background-color: #ffffff;
    }
	.main{
		background-color:#171580;
		display : flex;
		margin-top : 5px;
	}
	.toprow{
		margin-top : 10px;
		margin-left: 100px;
		width: 100%;
		
		
		color: white;
		font-size: 15px;
		height : 500px;
		overflow-y: scroll;
	}
	.lecture-list{
		margin-left: 100px;
		margin-top : 10px;
		
		width: 100%;
		color: white;
		font-size: 20px;
	}
	.duration{
		margin-left:10px;
		font-size: 1.2em;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		padding-top : 5px;
	}
	.title{
		display : inline-block;
		margin-left: 10px;
		margin-top: 5px;
		width: 75%;
	}
	.lec-duration{
		display: inline-block;
		
		
	}
	.lec-title:hover{
		cursor: pointer;
		border: 1px solid grey;
		border-radius : 10px;

	}
	.lec-title{
		height : 40px;
		margin-top : 5px;
		margin-bottom: 5px;
	}

	#course-img{
		height : 500px;
		width : 800px;
		margin-top: 10px;
		margin-bottom:10px;
		
		
	}


	/*skills*/
	.skills{
		width : 100%;
		margin:20px;
	}
	.btn-skills{
		display: block;
		background-color: #CB8A29;
		color: white;
		border-radius: 30px;
		align-content: center;
		font-weight: normal;
		font-size: 1.5em;
		font-family: "Times New Roman", Times, serif;
		text-align: center;
		margin:10px 10px 10px 0px;
	}
	.btn-Info{
		margin:10px;
		border:40px;
		background-color:#2b299b;
		color:#ECFCFD;
		height:45px;
		width : 98px;
		border-radius: 25px;
		font-weight: normal;
		font-size: 1.0em;
		font-family: "Times New Roman", Times, serif;
		padding-bottom:10px;
		margin-bottom:10px;
		margin-left: 25px;

	}
	.btn-langxl{
		height:40px;
		width : 120px;
		background-color: #ECFCFD;
		border-radius: 20px;
		font-weight: normal;
		font-size: 1.0em;
		font-family: "Times New Roman", Times, serif;
		color: #CB8A29;
		padding-bottom:10px;
		margin-bottom:10px;
		margin-left: 10px;
		margin-top:5px;

	}
	/*instructor*/
	.instructor{
		width : 75%;
		border-style: solid;
		border-color: #CB8A29;
		margin:25px;
	}
	.message{
		color: #4052f1;
		font-weight: normal;
		font-size: 1.2em;
		font-family: "Times New Roman", Times, serif;
		margin-left: 5px;
		
	}
	.messageArea{
		background-color: #F3D8B9;
		border-color:  #CB8A29;
		width: 90%;
		margin: 2px 0px 0px 5px;
	}
	.btnsend{
		font-weight : bold;
		background-color:#5096e7;
		margin: 10px;
	}
	/*main*/

	.super_container
	{
		width: 100%;
		overflow: hidden;
	}

	.rcorner {
	border-radius: 25px;
	border: 2px solid #D5921D;
	padding: 10px;
	margin-top:20px; 
	}
	.card{
		border: none;
		width: 80%;
		margin-left: 60px; 
	}
	.card-body{
		color: #5C59D5;
	}
	h5{
		color: #5C59D5;
	}
	.syl_btn{
		margin: 5px;
    }

	/*Slider*/
	.swiper-container {
	width: 100%;
	height: 350px;
	margin-top: 40px;
	max-width: 98vw;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: 0.5s;
	}
	.swiper-container .swiper-wrapper .swiper-slide:hover {
	transform: scale(1.1);
	}
	.swiper-container .swiper-wrapper .swiper-slide:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f3d8b9;
	z-index: 1;
	transition: 0.5s;
	}
	.swiper-container .swiper-wrapper .swiper-slide:hover:before {
	transform: scaleY(1.12);
	}
	.swiper-container .swiper-wrapper .swiper-slide:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	transition: 0.5s;
	background: rgba(255, 255, 255, 0.1);
	z-index: 1;
	}
	.swiper-container .swiper-wrapper .swiper-slide:hover:after {
	transform: scaleY(1);
	}
	.swiper-container .swiper-wrapper.swiper-slide:hover {
	z-index: 1;
	}
	.swiper-container .swiper-wrapper .swiper-slide div {
	text-align: center;
	z-index: 2;
	padding: 0;
	margin: 0;
	transition: 0.5s;
	background-color: rgb(11, 49, 154);
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30%;
	color: white;
	}
	.swiper-container .swiper-wrapper .swiper-slide div h5 {
	border-bottom: 1px solid rgb(0, 140, 255);
	}
	.swiper-slide a,
	.swiper-slide a i {
	position: absolute;
	top: 10px;
	right: 20px;
	color: rgb(255, 255, 255);
	height: 5px;
	width: 5px;
	z-index: 2;
	}

	.swiper-container h2 {
	font-weight: 500;
	position: relative;
	top: 0px;
	padding-bottom: 30px;
	text-align: center;
	color: gray;
	}

	.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #f4af47;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	}
	/*footer*/
	.social{
	margin-top: 20px;
	}
	.gap_u{
	margin: 20px;
	}
	.gap_l{
	margin-left: 35px; 
	}
	.cr
	{
	font-family: Times New Roman;
	font-size: 75%;
	font-weight:bold;
	margin-top: 20px; 
	}
	#course_list:hover {
		cursor: pointer;
    }
    .super_main{
        background-color: rgb(255, 255, 255);
        font-family:"Relaway";
        margin-left:20px;
    }
    .tabs{
        background-color: #f5f5f5;
    }
    .tabs .tab-header {
        height:60px;
        display:flex;
        align-items:center;
      }
      .tabs .tab-header > div {
        width:calc(100% / 6);
        text-align:center;
        color:black;
        font-weight:600;
        cursor:pointer;
        font-size:20px;
        outline:none;
      }
      .tabs .tab-header > div > i {
        display:block;
        margin-bottom:5px;
        margin-top: 10px;
      }
      .tabs .tab-header > div.active {
        color:#00acee;
      }
      .tabs .tab-indicator {
        position:relative;
        width:calc(100% / 7);
        height:5px;
        background:#00acee;
        left:3px;
        border-radius:5px;
        transition:all 500ms ease-in-out;
      }
      .tabs .tab-body {
        position:relative;
        height:calc(100% - 60px);
        padding:10px 5px;
      }
      .tabs .tab-body > div {
        position:absolute;
        opacity:0;
        transform:scale(0.9);
        transition:opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
        margin-top: 10px;
      }
      .tabs .tab-body > div.active {
        top:0px;
        opacity:1;
        transform:scale(1);
        margin-top: 20px;
      }
      footer{
    background-color:#d9e0e0;
    position: relative;
    left: 0;
    bottom: 0;
	width: 100%;
	overflow: hidden;
    margin-top: 15%;
      }

.dropdown1 {
	float: left;
	overflow: hidden;
  }
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
  
.dropdown-content a:hover {
	background-color: #ddd;
}
  
.dropdown1:hover .dropdown-content {
	display: block;
}
.newDiv{
	overflow:hidden;
	position:relative;
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}